/*Body*/ 

body
{
    background-image: url("Bg.png");
    /*background-color: black;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*nav bar*/

nav
{
    width: 95%;
    display: flex;
    justify-content: center;
}
.navcontainer
{
    height: auto;
    width: 98vw;
    display: flex;
    padding: 0px;
}
nav ul
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
@media only screen and (max-width:800px)
{
    nav ul
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px
    };
}
nav a
{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}
nav a:hover
{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(255, 47, 47);
    background-color: rgb(118, 255, 113);
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}
nav a:active
{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}
#logo
{
    margin: auto;
    display: flex;
    flex-direction: column;
}
#bar
{
    width: 100%;
    background-color: rgb(0, 117, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.searchinput
{
    height: 39px;
    border-radius: 2px;
    border: 2px;
    margin-right: -20%;
}
.search
{
    height: 39px;
    margin-right: 2%;
}
@media only screen and (max-width:1000px)
{
    .search
    {
        
    height: 39px;
    border-radius: 2px;
    border: 2px;
    }
    .searchinput
    {
    height: 39px;
    margin-right: -2%;
    }
}
@media only screen and (max-width: 800px)
{
    #bar
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: rgb(0, 117, 250);
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

/*forms*/

.form_div
{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
form
{
    width: 600px;
    height: 500px;
    background-color: rgb(116, 230, 81);
    border-radius: 5px;
    text-align: center;
    border: 3px solid rgb(27, 50, 255);
    padding: 0px 20px 5px;
    font-size: large;
}
@media only screen and (max-width: 800px)
{
    form{
        background-color: transparent;
        color: aliceblue;
    }
}
#button
{
    margin: 50px;
    padding: 0px 10px;
}
.submit
{
    margin: 10px;
    height: 40px;
    background-color: rgb(52, 52, 255);
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
}
.submit:hover
{
    margin: 10px;
    height: 40px;
    background-color: rgba(73, 73, 219, 0.678);
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
}

/*footer*/

footer
{
    background-color: black;
    color: white;
    margin: 10px;
    font-family: cursive;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}
/*.animation
{
    height: 200px;
    background-color: red;
    width: 200px;
    animation: sujan 3s  linear infinite  ;
}
@keyframes sujan 
{
    form
    {
        background-color: red;
    }
    to
    {
        background-color: blue;
    }
}*/